---
layout: bootstrap
title: Identify My iPad
permalink: /bts
---


<div class="container">
  <h1>Identify My iPad</h1>

  <div class="alert alert-warning" role="alert">
    Look on the back of iPad for the Model. <br />
    <img class="img-fluid rounded mx-auto d-block" src="/assets/images/ipad-model-helper.jpg" alt="iPad back">
  </div>

  <ul class="list-group">
    {% for my_page in site.pages %}
      {% if my_page.code %}
      <li data-model-code="{{ my_page.code }}" class="list-group-item"><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.code }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</div>

