---
layout: bootstrap
title: Identify My iPad
permalink: /
---


<div class="container">
  <h1>Identify My iPad</h1>

  <div class="alert alert-warning" role="alert">
    Look on the back of iPad for the Model. <br />
    <img class="img-fluid rounded mx-auto d-block" src="/assets/images/ipad-model-helper.jpg" alt="iPad back">
  </div>

  <ul class="list-group">
    {% for my_page in site.pages %}
      {% if my_page.code %}
      <li data-model-code="{{ my_page.code }}" class="list-group-item"><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.code }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</div>

<!--
https://www.macworld.co.uk/how-to/ipad/how-identify-which-ipad-you-have-3528437/
http://www.enterpriseios.com/wiki/Complete_List_of_iOS_User_Agent_Strings
Apple-iPad/ iPad with iOS 3.2.x
Apple-iPad1C1/  iPad with iOS 4.2.x
Apple-iPad2C1/  iPad 2 WiFi
Apple-iPad2C2/  iPad 2 WiFi + 3G GSM
Apple-iPad2C3/  iPad 2 WiFi + 3G CDMA
Apple-iPad2C4/  iPad Mini - WIFI
Apple-iPad2C5/  iPad Mini - WIFI + LTE
Apple-iPad3C1/  iPad (3rd generation) WiFi
Apple-iPad3C2/  iPad (3rd generation) WiFi + 4G Verizon / International
Apple-iPad3C3/  iPad (3rd generation) WiFi + 4G AT&T / International
Apple-iPad3C4/  iPad (4th Gen, WiFi Only)
Apple-iPad3C5/  iPad (4th Gen, GSM, NA LTE)
Apple-iPad3C6/  iPad (4th Gen, CDMA, LTE)
Apple-iPad4C1/  iPad Air - WiFi
Apple-iPad4C2/  iPad Air - WiFi + LTE
Apple-iPad4C4/  iPad Mini with Retina Display - WIFI
Apple-iPad4C5/  iPad Mini with Retina Display - WIFI + LTE
 -->
