---
layout: amp
title: Identify My iPad | Best compatiable iPad cases and accessories.
description: Identify your iPad and buy the best compatible cases and accessories. A1219, A1337, A1395, A1396, A1397, A1416, A1430, A1403, A1458, A1459, A1460, A1432, A1454, A1455, A1474, A1475, A1489, A1490, A1566, A1567, A1599, A1600, A1538, A1550, A1584, A1652, A1673, A1674, A1675, A1701, A1709, A1670, A1671, A1822, A1823, A1893, A1954
keywords: identify my ipad, ipad, ipad cases, ipad covers, ipad model, A1219, A1337, A1395, A1396, A1397, A1416, A1430, A1403, A1458, A1459, A1460, A1432, A1454, A1455, A1474, A1475, A1489, A1490, A1566, A1567, A1599, A1600, A1538, A1550, A1584, A1652, A1673, A1674, A1675, A1701, A1709, A1670, A1671, A1822, A1823, A1893, A1954
permalink: /
---


<div class="container py2">
  <h1>Identify My iPad</h1>

  <div class="alert alert-warning alert-ipad-helper" role="alert" >
    Look on the back of the iPad for the Model. <br />
    <amp-img srcset="{{ site.url }}/assets/images/ipad-model-helper.jpg" layout="responsive" height="242" width="607" alt="ipad model guide" attribution="visualhunt"></amp-img>
  </div>

  <ul class="list-group">
    {% for my_page in site.pages %}
      {% if my_page.code %}
      <li data-model-code="{{ my_page.code }}" class="list-group-item"><a class="fill-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.code }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</div>

<!--
https://support.apple.com/en-gb/ht201471
http://www.fixmyapple.com.au/identify-your-ipad

by order number
https://everyi.com/by-identifier/ipod-iphone-ipad-specs-by-apple-order-number-part-number.html

by hardware strings
https://en.wikipedia.org/wiki/List_of_iOS_devices

A1584 A1652 iPad6,7 iPad6,8
A1673 A1674 A1675 iPad6,3 iPad6,4
A1670 A1671  iPad7,1 iPad7,2
A1701 A1709 iPad7,3 iPad7,4

https://everymac.com/systems/apple/ipad/index-ipad-specs.html
https://www.macworld.co.uk/how-to/ipad/how-identify-which-ipad-you-have-3528437/
http://www.enterpriseios.com/wiki/Complete_List_of_iOS_User_Agent_Strings
Apple-iPad/ iPad with iOS 3.2.x
Apple-iPad1C1/  iPad with iOS 4.2.x
Apple-iPad2C1/  iPad 2 WiFi
Apple-iPad2C2/  iPad 2 WiFi + 3G GSM
Apple-iPad2C3/  iPad 2 WiFi + 3G CDMA
Apple-iPad2C4/  iPad Mini - WIFI
Apple-iPad2C5/  iPad Mini - WIFI + LTE
Apple-iPad3C1/  iPad (3rd generation) WiFi
Apple-iPad3C2/  iPad (3rd generation) WiFi + 4G Verizon / International
Apple-iPad3C3/  iPad (3rd generation) WiFi + 4G AT&T / International
Apple-iPad3C4/  iPad (4th Gen, WiFi Only)
Apple-iPad3C5/  iPad (4th Gen, GSM, NA LTE)
Apple-iPad3C6/  iPad (4th Gen, CDMA, LTE)
Apple-iPad4C1/  iPad Air - WiFi
Apple-iPad4C2/  iPad Air - WiFi + LTE
Apple-iPad4C4/  iPad Mini with Retina Display - WIFI
Apple-iPad4C5/  iPad Mini with Retina Display - WIFI + LTE

TODO: assoiate these with multiple types
/assets/images/ipads/ipad-9-7-2018-buttons-connectors.jpg
/assets/images/ipads/ipad-5gen-buttons-connectors.jpg
/assets/images/ipads/ipad_4th_buttons.png
/assets/images/ipads/ipad_mini_3-buttons_connectors.png


 -->
