<!-- Start Navbar -->
<header class="ampstart-headerbar fixed flex justify-start items-center top-0 left-0 right-0 pl2 pr4">
  <div role="button" on="tap:header-sidebar.toggle" tabindex="0" class="ampstart-navbar-trigger pr2">☰</div>

  <a class="my0 mx-auto flex brand" href="/">
    <amp-img src="/assets/images/logo.png" width="20" height="33" layout="fixed" class="my0 mx-auto" alt="Example logo image"></amp-img>&nbsp;&nbsp;&nbsp;<header class="sm-hide xs-hide"><strong>Identify My iPad</strong></header>
  </a>

  <nav class="ampstart-headerbar-nav ampstart-nav xs-hide sm-hide hide">
    <ul class="list-reset center m0 p0 flex nowrap">

      <li class="ampstart-nav-item ">
        <a href="/" class="text-decoration-none block">By Model</a>
      </li>


      <li class="ampstart-nav-item ">
        <a href="/about" class="text-decoration-none block">About</a>
      </li>

    </ul>
  </nav>
</header>

<!-- Start Sidebar -->
<amp-sidebar id="header-sidebar" class="ampstart-sidebar px3 " layout="nodisplay">
  <div class="flex justify-start items-center ampstart-sidebar-header">
    <div role="button" on="tap:header-sidebar.toggle" tabindex="0" class="ampstart-navbar-trigger items-start">✕</div>
  </div>
  <nav class="ampstart-sidebar-nav ampstart-nav">
    <ul class="list-reset m0 p0 ampstart-label">

      <!-- Start Dropdown-inline -->
      <li class="ampstart-nav-item ampstart-nav-dropdown relative">
        <amp-accordion layout="container" disable-session-states="" class="ampstart-dropdown">
          <section>
            <header>By Model</header>
            <ul class="ampstart-dropdown-items list-reset m0 p0">
            {% for my_page in site.pages %}
              {% if my_page.is_model_code_page %}
              <li data-model-code="{{ my_page.code }}" class="ampstart-dropdown-item"><a href="{{ my_page.url | prepend: site.baseurl }}" class="text-decoration-none">{{ my_page.code }}</a></li>
              {% endif %}
            {% endfor %}
            </ul>
          </section>
        </amp-accordion>
      </li>
      <!-- End Dropdown-inline -->

      <!-- Start Dropdown-inline -->
      <li class="ampstart-nav-item ampstart-nav-dropdown relative">
        <amp-accordion layout="container" disable-session-states="" class="ampstart-dropdown">
          <section>
            <header>By Name</header>
            <ul class="ampstart-dropdown-items list-reset m0 p0">
        	  {% for my_page in site.pages %}
        	    {% if my_page.is_model_name_page %}
        	    <li data-model-code="{{ my_page.code }}" class="ampstart-dropdown-item"><a href="{{ my_page.url | prepend: site.baseurl }}" class="text-decoration-none">{{ my_page.model_name }}</a></li>
        	    {% endif %}
        	  {% endfor %}
            </ul>
          </section>
        </amp-accordion>
      </li>
      <!-- End Dropdown-inline -->
    </ul>
  </nav>

  <ul class="ampstart-social-follow list-reset flex justify-around items-center flex-wrap m0 mb4">
    <li class="mr2">
        <a href="https://facebook.com/{{site.facebook}}" target="_blank" class="inline-block"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="23.6" viewbox="0 0 56 55"><title>Facebook</title><path d="M47.5 43c0 1.2-.9 2.1-2.1 2.1h-10V30h5.1l.8-5.9h-5.9v-3.7c0-1.7.5-2.9 3-2.9h3.1v-5.3c-.6 0-2.4-.2-4.6-.2-4.5 0-7.5 2.7-7.5 7.8v4.3h-5.1V30h5.1v15.1H10.7c-1.2 0-2.2-.9-2.2-2.1V8.3c0-1.2 1-2.2 2.2-2.2h34.7c1.2 0 2.1 1 2.1 2.2V43" class="ampstart-icon ampstart-icon-fb"></path></svg></a>
    </li>
  </ul>

  <ul class="ampstart-sidebar-faq list-reset m0">
    <li class="ampstart-faq-item">
      <a href="/about" class="text-decoration-none">About</a>
    </li>
    <li class="ampstart-faq-item">
      <a href="mailto:{{site.email}}" class="text-decoration-none">Contact</a>
    </li>
  </ul>

</amp-sidebar>
<!-- End Sidebar -->
<!-- End Navbar -->
