---
layout: compress
---
<!doctype html>
<html lang="en-GB" ⚡>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

    {% include seo.html %}

    {% include favicon.html %}

    {% include amp_scripts.html %}

    {% include custom_styles.html %}
  </head>
  <body>

    {% include amp_navbar.html %}

    {{ content }}

    {% include amp_analytics.html %}
  </body>
</html>


